@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button {
  font-family: "yekanBakh";
}

@font-face {
  font-family: "yekanBakh";
  src: url("../src/asset/font/YekanBakh.ttf");
}
