@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button {
  font-family: "yekanBakh";
}

@font-face {
  font-family: "yekanBakh";
  src: url("../src/asset/font/YekanBakh.ttf");
}

.Toastify div {
  font-family: "yekanBakh";
}

.modal {
  min-width: min-content;
}

#react-modal-image-img {
  width: 50vw;
}

@media screen and (max-width: 650px) {
  #react-modal-image-img {
    width: 90vw;
  }
}

.modal-container:nth-child(1) {
  width: 20vw;
}

a {
  text-decoration: none;
}
